<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>I am Legend</h1>
    <a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, facilis aliquid! Cumque nemo earum, sequi porro nobis consectetur itaque perferendis, harum amet cupiditate commodi quos molestiae laborum delectus! Laboriosam, ipsam!</a>
    <ol>
        {%for good in goods %}
        <li>{{ good }}</li>
        {% endfor %}
    </ol>
    <!-- <div>{{txt}}</div> -->
     <h3>{{ my_var}}</h3>
</body>
</html>